.App {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Container {
  background-color: lightgreen;
  padding: 2em;
}

.Form {
  background-color: lightyellow;
  padding: 5em;
}

.Items {
  background-color: lightcyan;
  padding: 2em;
}
